<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571230168736-ptrmkup972dtl9ta5mmrerefmgoki483.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571230168736-ptrmkup972dtl9ta5mmrerefmgoki483</string>
	<key>API_KEY</key>
	<string>AIzaSyDOgiTO9tWJGdcaG6FtVjoEKBDkiA5zi5U</string>
	<key>GCM_SENDER_ID</key>
	<string>571230168736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mellon.CoffeeCash</string>
	<key>PROJECT_ID</key>
	<string>coffeecash-589d5</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeecash-589d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571230168736:ios:64880263da580ef68f4bc5</string>
</dict>
</plist>